<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
{% block header %}
	{% include "navbar.j2" %}
	{% include "jumbotron.j2" %}
{% endblock header %}
<div class="container">
	<!-- Example row of columns -->
      <div class="row">
{% filter markdown -%}
{% block content %}{% endblock content %}
{%- endfilter %}
 </div> <!-- row -->

{% block footer %}
	{% include "footer.j2" %}
{% endblock footer %}
</div> <!-- /container -->

{% block scripts %}
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% endblock scripts %}

</body>
</html>
   
    