<!DOCTYPE html>
<html lang="en">
<head>
  	<!-- Copyright 2013 - Troy Scott -->
	<meta charset="utf-8">
	<title>My Web Site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
{% block header %}
	{% include "navbar.j2" %}
	{% include "jumbotron.j2" %}
{% endblock header %}

{% block main %}


{% endblock main %}


{% block footer %}
	{% include "footer.j2" %}
{% endblock footer %}

{% block scripts %}
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% endblock scripts %}

</body>
</html>
   
    