<div class="jumbotron">
	<div class="container">
    	<h1>Hyde Template</h1>
        	<p>Simple header for the hyde template</p>
        	<p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
</div>
